.widget {
    padding: 25px;
    width: 250px;
    height: 160px;
    background-color: #FFF;
    border-radius: 3px;

    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.2);
}

.dark .widget {
    background-color: #2A2F32;
    color: #FFF;
}

/* Widget Top */
.widget__top > h3 {
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animated__icon {
    width: 100px;
}

/* Widget Bottom */
.widget__bottom {
    display: flex;
    align-items: center;
    height: 100%;
}

.widget__bottom.geolocation__error{
    display: none;
}

.widget__info {
    margin-left: 25px;
}

.widget__info__details > h3 {
    font-size: 46px;
}

.widget__wind {
    font-size: 14px;
    animation: fadeIn ease 1s;
}

.widget__wind.off {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.widget__wind > span:first-child {
    font-weight: bold;
    margin-right: 10px;
}

/* Widget Geolocation Error */
.widget__info__error {
    color: red;
    display: none;
    margin: 20px 0;
}

.widget__info__error.geolocation__error {
    display: block;
}