.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Line */
.line {
  width: 1px;
  height: 175px;
  margin: 0 25px;
  background-color: #D1D1D1;
}


/* 
 * Media Query
*/
@media (max-width: 768px) {

  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .line {
    width: 250px;
    height: 1px;
    margin: 15px 0 25px 0;
  }

}